<form [formGroup]="form">

  <mat-form-field class="full">
    <mat-select placeholder="Command Type" formControlName="commandType" required>
      <mat-option *ngFor="let command of commandsLookup.items" [value]="command.value">
        {{command.display}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="commandType.invalid">Command type is required</mat-error>
  </mat-form-field>

  <mat-form-field class="full" hintLabel="Should be a valid JSON">
    <textarea
      matInput
      matTextareaAutosize
      matAutosizeMinRows=10
      class="code"
      placeholder="Command Instance"
      formControlName="commandInst"
      required></textarea>
    <mat-error *ngIf="commandInst.invalid">{{commandInstErrorMessage}}</mat-error>
  </mat-form-field>

</form>
