.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.spacer { flex: 1 1 auto; }

.form-wrapper {
  margin-top:20px;
  margin: auto;
  padding: 0 12px;
  max-width: 680px;
}

.form-buttons {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .mat-stroked-button {
    min-width: 82px !important;
  }
  .save-button {
    margin-left: 8px;
  }
}
