<div *ngIf="connections$ | async as connections">
  <mat-list>
    <div mat-subheader>Connections List</div>

    <mat-list-item *ngFor="let cnx of connections" (click)="selectConnection(cnx.id)"
      [ngClass]='{selected: selectedIndex === cnx.id}'>
      <mat-icon mat-list-icon fontSet="fa" fontIcon="fa-plug" class="fa-fw"> </mat-icon>
      <div mat-line>{{cnx.name}}</div>
      <div mat-line>{{cnx.comments}}</div>
    </mat-list-item>

    <div class="no-data" *ngIf="!connections.length">
      <mat-icon mat-list-icon fontSet="fa" fontIcon="fa-plug" class="fa-fw fa-3x"> </mat-icon>
      <p class="message">No connections found!</p>
    </div>

    <div class="add-button">
      <button mat-button color="primary"> New Connection </button>
    </div>

  </mat-list>
</div>
