.selected {
  background-color: #dbdbdb;
}

.no-data {
  text-align: center;
  padding-top: 64px;
  color: gray;

  .message {
    width:100%;
    padding-top: 16px;
    color: black;
    text-align: center;
  }
}

.add-button {
  padding-top: 16px;
}
