<div class="about-wrapper" style="display: flex; flex-direction: column; flex:1; overflow:hidden;">
  <div class="image">
    <img class="wip" src="assets/images/wip.png" />

    <button mat-button (click)="openDialog()">Open full screen dialog</button>
  </div>
  <div style = "height:100%; overflow:auto; margin: 0 20px;">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere voluptatem ratione at a accusantium nemo enim
    incidunt? Nesciunt, recusandae harum, deserunt mollitia autem atque voluptate maiores id incidunt modi ratione!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere voluptatem ratione at a accusantium nemo enim
    incidunt? Nesciunt, recusandae harum, deserunt mollitia autem atque voluptate maiores id incidunt modi ratione!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere voluptatem ratione at a accusantium nemo enim
    incidunt? Nesciunt, recusandae harum, deserunt mollitia autem atque voluptate maiores id incidunt modi ratione!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere voluptatem ratione at a accusantium nemo enim
    incidunt? Nesciunt, recusandae harum, deserunt mollitia autem atque voluptate maiores id incidunt modi ratione!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere voluptatem ratione at a accusantium nemo enim
    incidunt? Nesciunt, recusandae harum, deserunt mollitia autem atque voluptate maiores id incidunt modi ratione!</p>
  </div>
</div>
