<div class="data-wrapper">
  <div *ngIf="data$ | async as data; else loading">

    <mat-tab-group [dynamicHeight]="true" (selectedIndexChange)="selectedTab=$event" [selectedIndex]="selectedTab">

      <mat-tab label="Connections">
        <cubes-connection [schema]="data.schema.connection" [model]="data.model.connections"
          (saveConnections)="onSave(data.model)" (testConnection)="onTestConnection($event)"
          [selected]="selectedConnection" (selectionChanged)="onConnectionChanged($event)">
        </cubes-connection>
      </mat-tab>

      <mat-tab label="Queries">
        <cubes-query #queries [schema]="data.schema.query" [model]="data.model.queries" (saveQueries)="onSave(data.model)"
          (executeQuery)="onExecuteQuery($event)" [selected]="selectedQuery"
          (selectionChanged)="onQueryChanged($event)">
        </cubes-query>
      </mat-tab>

      <!--
      <mat-tab label="Debug Data">
        <ngx-json-viewer [json]="data" [expanded]="false"></ngx-json-viewer>
      </mat-tab>
      -->

    </mat-tab-group>

  </div>
</div>

<ng-template #loading>
  <cubes-loading (retry)="loadData()" [hasErrors]="errorLoading" [errorMessage]="errorMessage">
  </cubes-loading>
</ng-template>
