<div *ngIf="data$ | async as data; else loading">

  <mat-tab-group>

    <mat-tab label="Connections">
      <cubes-connection [schema]="data.schema" [model]="data.model.connections"></cubes-connection>
    </mat-tab>

    <mat-tab label="Queries">
      <div class="about-wrapper" style="display: flex; flex-direction: column; flex:1; overflow:hidden;">
        <button mat-button (click)="openDialog()">Open full screen dialog</button>

      </div>
      <ngx-json-viewer [json]="data" [expanded]="false"></ngx-json-viewer>
    </mat-tab>
  </mat-tab-group>

</div>

<ng-template #loading>
  <cubes-loading (retry)="loadData()" [hasErrors]="errorLoading" [errorMessage]="errorMessage">
  </cubes-loading>
</ng-template>
