.wrapper {
  display: flex;
  flex-direction: column;

  flex: 1 1 auto;
}

.title {
  display: flex;
  flex-direction: row;
}

.filler {
  flex: 1 1 0;
}

.times {
  font-size: 34px;
  color: #353535;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.times:hover { transform: scale(1.3); }

.content {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
}

.toolbar {
  padding-top: 12px;
  display: flex;
  flex-direction: row;
}

.editor > * {
  width: 100%;
}

.queryEditor {
  width: 100%;

  font-family: monospace;
  font-size: 0.9em;
}

.results {
  overflow-y:scroll;
  flex-grow: 1;
  flex-basis: 0;
}

.no-rows {
  display: flex;
  flex-direction: column;
  margin-top: 128px;
  text-align: center;
}

.hidden { display: none; }
// :host ::ng-deep .dynamic-table-header {
//   color: red !important;
// }
