<div class="wrapper">

  <div class="title">
    <h3>{{query.name}}</h3>
    <span class="filler"></span>
    <span class="times" (click)="onNoClick()">&times;</span>
  </div>
  <mat-divider></mat-divider>

  <div class="content">
    <div class="toolbar">
      <mat-form-field>
        <mat-label>Connection</mat-label>
        <mat-select [(ngModel)]="selectedConnection" name="selectedConnection">
          <mat-option *ngFor="let cnx of connections" [value]="cnx">
            {{cnx}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp;&nbsp;
      <button mat-button color="primary" (click)="onExecute()">Execute</button>
      <div class="filler"></div>
      <button mat-button [class.hidden]="!resultDetails || resultDetails.data.length === 0"
        (click)="onExportResults()">Export results</button>
      <button mat-button (click)="onExportSettings()"><i class="fa fa-cogs" aria-hidden="true"></i></button>

    </div>

    <div class="editor">
      <mat-form-field>
        <mat-label>Query Command</mat-label>
        <textarea class="queryEditor" matInput cdkTextareaAutosize cdkAutosizeMinRows="10" cdkAutosizeMaxRows="20"
          placeholder="Query Command" [(ngModel)]="query.queryCommand" spellcheck="false"></textarea>
      </mat-form-field>
    </div>

    <div class="results">
      <div *ngIf="resultDetails">
        <h4>Results ({{resultDetails.data.length}} rows)</h4>
        <mat-divider></mat-divider>
        <cubes-dynamic-table [tableClass]="resultDetails.tableClass" [columns]="resultDetails.columns"
          [displayedColumns]="resultDetails.displayedColumns" [data]="resultDetails.data">
        </cubes-dynamic-table>
      </div>

      <div class="no-rows" *ngIf="!resultDetails || resultDetails.data.length === 0">
        <p><i class="fa fa-5x fa-clone" style="color: gray; margin-top: 12px"></i></p>
        <p><strong>No data to display!</strong></p>
      </div>
    </div>
  </div>
</div>
