<div class="loading">
  <div *ngIf="!hasErrors">
    <div class="waiting">{{message}}</div>
    <div id="loader">
      <div id="top"></div>
      <div id="bottom"></div>
      <div id="line"></div>
    </div>
  </div>

  <div *ngIf="hasErrors" class="errors">
    <div class="errorTitle">Could not fetch data!</div>
    <i class="fa fa-exclamation-triangle fa-5x"></i>
    <div class="error-message" *ngIf="errorMessage">{{errorMessage}}</div>
    <div class="retry-link">
      <a class="retry-link" href="" (click)="!!onRetry()">Try again</a>
    </div>
  </div>
</div>
