<div class="wrapper">

  <!-- Toolbar -->
  <cubes-nav-bar class="toolbar" [showMenuIcon]="hideSidenav" (toggleSidenav)="onToggleSidenav()"></cubes-nav-bar>

  <!-- Sidenav - Content -->
  <div class="content">
    <cubes-side-nav #sideNav [isHidden]="hideSidenav"></cubes-side-nav>
  </div>

</div>

<!-- Also: ball-scale-ripple-multiple -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.72)" size="large" color="#fff" type="timer" [fullScreen]="true">
  <p style="color: white"> Waiting for data... </p>
</ngx-spinner>
