.wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: lightgray;
  color: #343434;
  overflow: hidden;
  text-align: center;
}

.image {
  display: inline-block;
}

.title {
  font-size: 140px;
  line-height: 160px;
  width: 100%;
}

.message {
  padding-top: 16px;
  font-size: 32px;
  line-height: 40px;
  width: 100%;
  margin-top: 0;
}

.home-link {
  padding-top: 8px;
  a {
    color: orangered;
    font-weight: bold;
  }
}
