.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

  img.smtp {
    width:48px;
    height:48px;
    padding-right:15px;
  }
  h3 { margin-bottom:0 }
  p.current { font-weight: bold; }
  .selector {
    padding-top: 12px;
    cursor: pointer;
    user-select: none;
  }
}

.spacer { flex: 1 1 auto; }
