<div class="header">
  <img class=smtp src="assets/images/smtp.png" alt="SMTP Settings"/>
  <div>
    <h3>SMTP Profiles</h3>
    <p class="current">{{current || 'No profile'}}</p>
  </div>
  <div class="spacer"></div>
  <div class="selector">
    <span [hidden]="profiles.length === 0" [matMenuTriggerFor]="menu">Select profile&nbsp; <i class="fa fa-caret-down"></i></span>
    <span [hidden]="profiles.length !== 0" (click)="onSelect('NEW')">Create</span>
  </div>

  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item *ngFor="let p of profiles" (click)="onSelect(p)">{{p}}</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="onSelect('NEW')">New profile</button>
  </mat-menu>

</div>
