<h3 mat-dialog-title> {{user}} - Set password</h3>
<mat-divider></mat-divider>

<div class="content">
  <form [formGroup]="form">
    <mat-form-field class="full-width">
      <mat-label> Password </mat-label>
      <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" autocomplete="off">
      <mat-icon style="margin-right:4px"
        fontSet="far"
        [fontIcon]="hidePassword ? 'fa-eye' : 'fa-eye-slash'"
        matSuffix
        (click)="hidePassword = !hidePassword">
      </mat-icon>
      <mat-error *ngIf="form.get('password').hasError('required')">
        Please provide a password!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label> Confirm Password </mat-label>
      <input matInput formControlName="confirm" [type]="hideConfirm ? 'password' : 'text'" autocomplete="off">
      <mat-icon style="margin-right:4px"
        fontSet="far"
        [fontIcon]="hideConfirm ? 'fa-eye' : 'fa-eye-slash'"
        matSuffix
        (click)="hideConfirm = !hideConfirm">
      </mat-icon>
      <mat-error *ngIf="form.get('confirm').hasError('required')">
        Please confirm password!
      </mat-error>
      <mat-error *ngIf="form.get('confirm').hasError('mustMatch')">
        Passwords must match!
      </mat-error>
    </mat-form-field>
  </form>
</div>

<mat-dialog-actions>
  <button
    mat-flat-button
    tabindex="-1"
    [mat-dialog-close]="false"> Cancel </button>
  <button #save
    mat-flat-button
    [disabled]="!form.valid"
    type="submit"
    color="primary"
    (click)="accept()"> OK </button>
</mat-dialog-actions>
