.mat-mdc-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.content {
  min-height: 100px;
  margin-top: 12px;
}

.full-width {
  width: 100%;
}

.mat-mdc-form-field {
  margin-bottom: 6px;
}
