<mat-card class="">
  <div style="display: flex;">
    <h3>Job list</h3>
    <div class="spacer"></div>
    <mat-icon class="icon-link" matTooltip="Scheduler Control" [matMenuTriggerFor]="schedulerControl">menu</mat-icon>

    <mat-menu #schedulerControl="matMenu">
      <button mat-menu-item [disabled]='started' (click)="menuClicked('start')">
        <mat-icon>play_arrow</mat-icon>
        <span>Start</span>
      </button>
      <button mat-menu-item [disabled]='!started'(click)="menuClicked('stop')">
        <mat-icon>stop</mat-icon>
        <span>Stop</span>
      </button>
      <button mat-menu-item (click)="menuClicked('reload')">
        <mat-icon>cached</mat-icon>
        <span>Reload</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="menuClicked('refresh')">Refresh List</button>
    </mat-menu>

  </div>
  <mat-card-content>
    <mat-list>
      <mat-divider></mat-divider>
      <br>
      <mat-list-item *ngFor="let job of jobs">
        <!-- TODO: What if no jobs? Add a nice graph... -->
        <mat-icon matListIcon>{{job.isActive ? 'alarm_on' : 'alarm_off'}}</mat-icon>
        <p matLine>
          <span class="description"> {{job.description}}</span>
          <span *ngIf="!job.isActive"><span class="disabled"> [Disabled]</span></span>
        </p>
        <p matLine class="execution-info">Will be executed at
          <span [class.not-defined]="!job.nextExecutionAt">
            {{(job.nextExecutionAt | date:'medium') || 'Not defined'}}
          </span>.
          Last execution was at
          <span [class.not-defined]="!job.lastExecutionAt">
            {{(job.lastExecutionAt | date:'medium') || 'Not defined'}}
          </span>
          <span *ngIf="job.lastExecutionResult">, with results <strong>{{job.lastExecutionResult}}</strong></span>
        </p>
        <mat-icon class="icon-link" matTooltip="Execute now">play_circle_outline</mat-icon>&nbsp;&nbsp;
        <mat-icon class="icon-link" matTooltip="Edit or delete job">create</mat-icon>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <div class="spacer"></div>
    <button mat-flat-button color="primary">Add Job</button>
  </mat-card-actions>
</mat-card>
