<mat-card class="">
  <div style="display: flex;">
    <h3>Job list</h3>
    <div class="spacer"></div>
    <mat-icon class="icon-link" matTooltip="Scheduler Control" [matMenuTriggerFor]="schedulerControl">menu</mat-icon>

    <mat-menu #schedulerControl="matMenu">
      <button mat-menu-item [disabled]='started' (click)="menuClicked('start')">
        <mat-icon>play_arrow</mat-icon>
        <span>Start</span>
      </button>
      <button mat-menu-item [disabled]='!started' (click)="menuClicked('stop')">
        <mat-icon>stop</mat-icon>
        <span>Stop</span>
      </button>
      <button mat-menu-item (click)="menuClicked('reload')">
        <mat-icon>cached</mat-icon>
        <span>Reload</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="menuClicked('refresh')">Refresh List</button>
    </mat-menu>

  </div>
  <mat-card-content>
    <mat-list>
      <mat-divider></mat-divider>
      <br>
      <ng-template ngFor let-job [ngForOf]="jobs">
        <cubes-job-row [job]="job"></cubes-job-row>
      </ng-template>
      <div class="no-jobs-found" *ngIf="jobs.length==0">
        <p>No jobs found!</p>
        <mat-icon>report_problem</mat-icon>
      </div>
    </mat-list>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <div class="spacer"></div>
    <button mat-flat-button color="primary">Add Job</button>
  </mat-card-actions>
</mat-card>
