<mat-card class="">
  <div style="display: flex;">
    <h3>Job list</h3>
    <div class="spacer"></div>
    <i class="icon-link fa fa-bars fa-2x" matTooltip="Scheduler Control" [matMenuTriggerFor]="schedulerControl"></i>

    <mat-menu #schedulerControl="matMenu">
      <button mat-menu-item [disabled]='started' (click)="onSchedulerControl('start')">
        <i class="fa fa-fw fa-play"></i>
        <span>Start</span>
      </button>
      <button mat-menu-item [disabled]='!started' (click)="onSchedulerControl('stop')">
        <i class="fa fa-fw fa-stop"></i>
        <span>Stop</span>
      </button>
      <button mat-menu-item (click)="onSchedulerControl('reload')">
        <i class="fa fa-fw fa-undo"></i>
        <span>Reload</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="onSchedulerControl('refresh')">Refresh List</button>
    </mat-menu>

  </div>
  <mat-card-content>
    <mat-list>
      <mat-divider></mat-divider>
      <br>
      <ng-template ngFor let-job [ngForOf]="jobs">
        <cubes-job-row [job]="job" (runJob)="onRunJob($event)" (editJob)="onEditJob($event)"></cubes-job-row>
      </ng-template>
      <div class="no-jobs-found" *ngIf="jobs.length==0">
        <p>No jobs found!</p>
        <i class="fa fa-exclamation-triangle fa-4x"></i>
      </div>
    </mat-list>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <mat-slide-toggle matTooltip="Reload scheduler after notifications" [(ngModel)]="autoReload">Auto reload</mat-slide-toggle>
    <div class="spacer"></div>
    <button mat-flat-button color="primary" (click)="onEditJob(null)">Add Job</button>
  </mat-card-actions>
</mat-card>
