h3 {
  font-size: 120%;
}

.spacer {
  flex: 1 1 auto;
}

.mat-menu-item span {
  padding-left: 12px;
}

.no-jobs-found {
  text-align: center;
  font-size: 2em;
  color: #555555;
  margin: 24px 0;
  i {
    margin-top:16px;
    color: #bbbbbb;
  }
}

.spacer {
  flex: 1 1 auto;
}

.mat-card-actions {
  display: flex;
}
