.description {
  font-size: 105%;
}

.disabled {
  font-weight: bold;
  font-size: 85%;
  color: #444;
}

.execution-info {
  font-weight: 300 !important;
  color: #555;
  white-space: pre-wrap !important;
}

.not-defined {
  color: red;
}

.icon-link {
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

h3 {
  font-size: 120%;
  padding-left: 8px;
}

.mat-card-actions {
  display: flex;
}

.no-jobs-found {
  text-align: center;
  font-size: 2em;
  color: #555555;
  margin: 24px 0;
  .mat-icon {
    margin-top:36px;
    color: #bbbbbb;
    height: 48px;
    width: 48px;
    font-size: 48px;
  }
}
