.editor {
  margin-top: -4px;
}

.mat-mdc-subheader {
  color: rgba(0, 0, 0, 0.54);
}

.form {
  padding: 0px 4px;
}

.no-data {
  text-align: center;
  padding-top: 16px;
}

// Visual fix
.chip-list {
  margin-top: -8px !important;
}

.editor-content {
  min-height: 360px;
}

.basic {
  margin-top: 8px;
  padding: 0 8px;
  overflow: hidden;
}

.full {
  width: 100%;
  margin-bottom: 4px;
}

.check-boxes {
  display: flex;
  margin-top: 8px;
  padding: 0.4375em 0;
  .mat-mdc-checkbox {
    flex-grow: 1;
  }
}
