.wrapper {
  height: 100%;
}

.sidenav {
  background-color: #454545;
  color: whitesmoke;
  width: 110px;
  height: 100%;
}

.content {
  padding: 8px;
  height: 100%;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
}

.mat-list-item {
  color: #c3c3c3;
  box-sizing: border-box;
}
.mat-list-item:hover {
  color: #fff;
}

.nav-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4px;
  outline: 0;
}

.mat-icon {
  padding-top: 2px;
  width: 64px;
  height: 38px !important;
  font-size: 32px;
}

.mat-list-item {
  height: 82px !important;
  margin-bottom: 6px;
}

.active-menu {
  color: #fff;
  background: rgb(233, 119, 81);
  background: linear-gradient(133deg, rgba(233, 119, 81, 1) 24%, rgba(218, 83, 16, 1) 87%);
}

.mat-list {
  padding-top: 0px !important;
}

.side-nav-logo {
  padding-bottom: 8px;
}

.no-scroll {
  overflow: hidden;
}
