.dynamic-form-wrapper {
  display: flex;
  flex-direction: column;

  .checkbox {
    padding-bottom: 1.25em;
  }

  .checkbox-error {
    font-size: 75%;
  }
}

.dynamic-form-wrapper > * {
  width: 100%;
}

.mat-form-field {
  margin-bottom: 4px;
}

.code {
  font-family: monospace;
  font-size: 0.82em;
}

.refresh-icon {
  color: rgba(0,0,0,.54);
}
