<div class="wrapper">

  <div class="title">
    <h3>Execute Query: {{query.name}}</h3>
    <span class="filler"></span>
    <span class="times" (click)="onNoClick()">&times;</span>
  </div>
  <mat-divider></mat-divider>

  <div class="content">
    <div class="toolbar">
      <mat-form-field>
        <mat-label>Connection</mat-label>
        <mat-select [(ngModel)]="selectedConnection" name="selectedConnection">
          <mat-option *ngFor="let cnx of connections" [value]="cnx">
            {{cnx}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp;&nbsp;
      <button mat-button color="primary" (click)="onExecute()">Execute</button>
    </div>

    <div class="editor">
      <mat-form-field>
        <mat-label>Query Command</mat-label>
        <textarea class="queryEditor" matInput cdkTextareaAutosize cdkAutosizeMinRows="10" cdkAutosizeMaxRows="20"
          placeholder="Query Command" [(ngModel)]="query.queryCommand" spellcheck="false"></textarea>
      </mat-form-field>
    </div>

    <div class="results">
      <mat-label>Results</mat-label>
      <cubes-dynamic-table [tableClass]="'mat-elevation-z1'" [columns]="columns"
        [displayedColumns]="displayedColumns" [data]="tableData">
      </cubes-dynamic-table>
    </div>
  </div>
</div>
