<cubes-page-header (reload)="reload()"> Data Access </cubes-page-header>

<div class="content">
  <mat-tab-group #tabs
    [dynamicHeight]="true"
    [selectedIndex]="tabIndex"
    (selectedTabChange)="tabChanged($event)">

    <!-- Connections -->
    <mat-tab label="Connections">
      <div class="inner" fxLayout="row">
        <cubes-connection-list
          fxFlex="50%"
          (connectionSelected)="connectionSelected($event)"
          (newConnection)="newConnection()">
        </cubes-connection-list>

        <mat-divider class="divider" [vertical]="true"> </mat-divider>
        <cubes-connection-editor
          #connectionForm fxFlex="50%"
          (testConnection)="testConnection($event)">
        </cubes-connection-editor>
      </div>
    </mat-tab>

    <!-- Queries -->
    <mat-tab label="Queries">
      <div class="inner" fxLayout="row">
        <cubes-query-list
          fxFlex="50%"
          (querySelected)="querySelected($event)"
          (newQuery)="newQuery()"
          (addDefault)="addDefault()">
        </cubes-query-list>

        <mat-divider class="divider" [vertical]="true"> </mat-divider>
        <cubes-query-editor #queryForm fxFlex="50%"> </cubes-query-editor>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
