$light-black: #595d5f;
$admin-background: #94e0a7;
$border-radius: 4px;

.login-page {
	height: 100%;

	background-image: url("~/assets/images/login-background.jpg");
	background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

	display: flex;
	justify-content: center;
	align-items: center;
}

.login-wrapper {
	width: 400px;
  background-color: white;
  border-radius: $border-radius;

	display: flex;
  flex-direction: column;
}

.login-panel {
  padding: 12px 18px;
}

.login-form {
  margin: 2px;
  margin-top: 12px;
}

.full-width {
  width: 100%;
}

.login-button {
  margin: 12px 0 6px;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-admin {
	height: 64px;
	color: $light-black;
	background-color: $admin-background;

  display: flex;
	align-items: center;
  justify-content: center;

  border-radius: 0 0 $border-radius $border-radius;
}

.errors {
  margin-top: 8px;
  min-height: 24px;
  text-align: center;
}

.login-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    .title {
      font-size: 1.3em;
      font-weight: bold;
    }
}

