:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.about {
  margin: 20px auto 0;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;

  p {
    font-size: 1.12em;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  p.cubes-server {
    margin-top: 40px;
    font-size: 2.6em;
    font-weight: bold;
    color: #6b6b6b;
    text-shadow: 2px 2px #aeaeae;
  }
  p.git {
    margin-top: 0;
    font-size: 0.96em;
  }
  .git-info {
    font-weight: bold;
  }
}

.json {
  max-width: 780px;
}

.server-info {
  margin: 20px auto;
  padding: 0 100px;
  position: relative;
  text-align: left;
  width: 100%;
  max-width: 930px;

  border: 1px solid #777777;
  background-color: whitesmoke;
  margin: 12px;
  overflow-y: hidden;
}
.server-info:hover { overflow-y: scroll; }
.link {
  cursor: pointer;
  color: blue;
  font-size: 1.12em;
}

.button {
  cursor: pointer;
  color: gray;
  position: absolute;
  font-size: 1.4em;
}
.button:hover {
  color: #454545;
}

.refresh {
  top: 6px;
  left: 6px;
}

.save {
  top: 6px;
  left: 36px;
}

.error {
  color: red;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 8px !important;
}
