:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  margin: 12px 0 24px;
  flex: 1;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
}

.divider {
  margin: -4px 8px 0;
}

.inner {
  padding-top: 4px;
}

.notice {
  margin: 8px;
  padding: 12px;
  border: 2px solid rgb(255, 153, 0);
  border-radius: 4px;
  background-color: rgb(228, 202, 154);

  .title {
    font-weight: bold;
    font-size: 1.1em;
  }

  .icon {
    color: rgba(0, 0, 0, 0.6);
    padding: 0 12px;
  }

  .emoji {
    font-size: 1.2em;
  }
}
