<form [formGroup]="form">

  <mat-form-field class="full">
    <button
      mat-icon-button
      matSuffix
      [disabled]="!requestTypeProvider"
      matTooltip="Sample request"
      (click)="getSample($event)">
      <mat-icon fontSet="far" fontIcon="fa-lightbulb"></mat-icon>
    </button>
    <mat-select #opt="matSelect" placeholder="Request Type"
      formControlName="requestType"
      required>
      <mat-option *ngFor="let request of requestsLookup.items"
        [value]="request.value">
        {{request.display}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="requestType.invalid">Request type is required</mat-error>
  </mat-form-field>

  <mat-form-field class="full">
    <textarea
      matInput
      matTextareaAutosize
      rows=10
      matAutosizeMinRows=10
      matAutosizeMaxRows=18
      class="code"
      placeholder="Request Instance"
      formControlName="requestInst"
      required></textarea>
    <mat-error *ngIf="requestInst.invalid">{{requestInstErrorMessage}}</mat-error>
  </mat-form-field>

</form>
