.selected {
  background-color: #dbdbdb;
}

.no-data {
  text-align: center;
  padding-top: 36px;
  color: gray;

  .message {
    width: 100%;
    padding-top: 16px;
    color: black;
    text-align: center;
  }
}

.new-button {
  padding-top: 16px;
}

.icon-success {
  color: #28a745;
}
.icon-failure {
  color: #bf0000;
}
.job-details {
  white-space: pre-line !important;
  font-size: 0.8em !important;
  color: rgba(0, 0, 0, 0.77);
}
.job-disabled {
  color: rgba(0, 0, 0, 0.37);
}
.inactive-job {
  font-weight: bold;
  font-size: 0.78em;
}

.list {
  max-height: 580px;
  overflow-y: auto;
}
