<div class="editor">
  <div mat-subheader>Connections Editor</div>

  <div *ngIf="formSchema$ | async as formSchema; else empty">
    <div *ngIf="connection$ | async as connection; else empty">
      <div class="form">
        <cubes-dynamic-form #f [schema]="formSchema" [model]="connection" (isValid)="save.disabled=!$event">
          <!-- (modelChanged)="onEditorChanges($event, i)" -->
        </cubes-dynamic-form>

        <div class="buttons" fxLayout="row">
          <button mat-button color="primary" (click)="onTest()">Test Connection</button>
          <div class="filler"></div>
          <button #delete mat-button color="warn" (click)="onDelete()">{{isNew ? 'Cancel' : 'Delete'}}</button>
          <button #save mat-button color="primary" (click)="onSave()">Save</button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #empty>
    <div class="no-data">
      <img src="assets/images/nodata.png" width="128px">
      <p>Select a connection from the list!</p>
    </div>
  </ng-template>
</div>
