<mat-list-item>
  <mat-icon matListIcon>{{job.isActive ? 'alarm_on' : 'alarm_off'}}</mat-icon>
  <p matLine>
    <span class="description"> {{job.description}}</span>
    <span *ngIf="!job.isActive"><span class="disabled"> [Disabled]</span></span>
  </p>
  <p matLine class="execution-info">Will be executed at
    <span [class.not-defined]="!job.nextExecutionAt">
      {{(job.nextExecutionAt | date:'medium') || 'Not defined'}}
    </span>.
    Last execution was at
    <span [class.not-defined]="!job.lastExecutionAt">
      {{(job.lastExecutionAt | date:'medium') || 'Not defined'}}
    </span>
    <span *ngIf="job.lastExecutionResult">, with results <strong>{{job.lastExecutionResult}}</strong></span>
  </p>
  <mat-icon class="icon-link" matTooltip="Execute now" (click)="onRunJob(job)">play_circle_outline</mat-icon>&nbsp;&nbsp;
  <mat-icon class="icon-link" matTooltip="Edit or delete job" (click)="onSaveJob(job)">create</mat-icon>
</mat-list-item>
