.description {
  font-size: 105%;
}

.disabled {
  font-weight: bold;
  font-size: 85%;
  color: #444;
}

.execution-info {
  font-weight: 300 !important;
  color: #555;
  white-space: pre-wrap !important;
}

.not-defined {
  color: red;
}

.icon-link {
  cursor: pointer;
}

.runs-at {
  font-style: italic;
  font-weight: 300;
  color: #444444
}
