.description {
  font-size: 105%;
  padding-left: 12px;
}

.disabled {
  font-weight: bold;
  color: #777777;
}

.execution-info {
  font-weight: 300 !important;
  color: #555;
  margin-left: 32px !important;
}

.not-defined {
  color: red;
}

.icon-link {
  cursor: pointer;
  margin-left: 6px;
}

.runs-at {
  font-style: italic;
  font-weight: 300;
  color: #444444;
}

.actions {
  width: 68px;
  text-align: right;
  color: #555;
}
