.action-button {
  cursor: pointer;
}

.no-parameters {
  text-align: center;
  padding-top: 16px;
  color: gray;
}

.parameters-divider {
  margin-top: 12px;
  padding-bottom: 8px;
}

.add-parameter {
  margin: 8px 0;
}
.add-button {
  color: #673ab7
}

.full {
  width: 100%;
  margin-bottom: 4px;
}

.code {
  white-space: pre-wrap;
  font-family: monospace;
  font-size: 0.82em;
}
