.action-button {
  cursor: pointer;
}

.no-parameters {
  text-align: center;
  padding-top: 16px;
  color: gray;
}

.parameters-divider {
  margin-top: 12px;
  padding-bottom: 8px;
}

.add-parameter {
  margin: 8px 0;
}
.add-button {
  color: #673ab7
}
.mat-subheader {
  padding: 16px 0 !important;
}
