.action-button {
  cursor: pointer;
}

.no-parameters {
  text-align: center;
  padding-top: 16px;
  color: gray;
}

.parameters-divider {
  padding-bottom: 8px;
}

.add-parameter {
  margin: 8px 0;
}
