// cSpell:words autofill, deeppurple, theming
/* You can add global styles to this file, and also import other style files */

// ----------------------------------------------------------------------------------------------------
// Make body fill the hole page
body {
  margin: 0;
  height: 100vh;
}
// ----------------------------------------------------------------------------------------------------


// ----------------------------------------------------------------------------------------------------
// Font-awesome
@import './assets/css/font-awesome.css';
// ----------------------------------------------------------------------------------------------------


// ----------------------------------------------------------------------------------------------------
// Material theme
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
// ----------------------------------------------------------------------------------------------------


// ----------------------------------------------------------------------------------------------------
// Custom fonts
@import './assets/css/cairo.css';
@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Cairo, sans-serif, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(14px, 24px, 500)
);
@include angular-material-typography($custom-typography);
// ----------------------------------------------------------------------------------------------------


// ----------------------------------------------------------------------------------------------------
// Fixes yellow background on auto fills on Chrome, https://stackoverflow.com/a/29350537/3410871
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
// ----------------------------------------------------------------------------------------------------


// ----------------------------------------------------------------------------------------------------
// Make snack-bar wider
.snack-bar { max-width: 80vw !important; }
.base-component {
  overflow: hidden;
  flex: 1;

  display: flex;
  flex-direction: column;
}
// ----------------------------------------------------------------------------------------------------


// ----------------------------------------------------------------------------------------------------
// Full width dialogs
.full-width-dialog .mat-dialog-container {
  max-width: 100vw !important;
  border-radius: 0 !important;
  display: flex !important;
  padding: 12px;
}
// ----------------------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------------------
// WORK IN PROGRESS
.wip {
  margin-top:48px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;

  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
}
// ----------------------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------------------
// Fix menu appearance
.mat-drawer-inner-container {
  overflow-x: hidden !important;
}
// ----------------------------------------------------------------------------------------------------
