/* You can add global styles to this file, and also import other style files */
html,
body {
  height: calc(100% - 32px);
}

body {
  margin: 0;
}

// Laoding animation, while waiting for data
@import 'loading.scss';

// Fix yellow background on autofills on Chrome
// https://stackoverflow.com/a/29350537/3410871

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.full-width-dialog .mat-dialog-container {
  max-width: 100vw !important;
  border-radius: 0 !important;
}

.mat-drawer-inner-container {
  overflow-x: hidden !important;
}


.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  &.dark-backdrop {
    background: #000;
    opacity: 0.85 !important;
  }
}
