.editor {
  margin-top: -6px;
}

.mat-mdc-subheader {
  color: rgba(0, 0, 0, 0.54);
}

.form {
  padding: 0px 4px;
}

.no-data {
  text-align: center;
  padding-top: 16px;
}


// Visual fix
.chip-list {
  margin-top: -8px !important;
}
