// -----------------------------------------------------------------------------
// Toolbar
.toolbar {
  background-color: #353545;
  z-index: 2 !important;
}
.spacer { flex: 1 1 auto; }
.hidden { display: none; }

.cubes-logo {
  padding-left: 42px;
  background-image: url('./../../../../assets/images/cubes.logo.white.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.cubes-logo:focus { outline: none; }
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// Sidenav
.sidenav {
  width: 240px;
  padding-top: 24px;
  background-color: #eeeeee;

  background-image: url('../../../../assets/images/cubes.logo.svg');
  background-position: calc(100% - 20px) calc(100% - 20px);
  background-size: 140px 140px;
  background-repeat: no-repeat;
}
.sidenav-container {
  flex: 1 0;
 }
.sidenav-content {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}
.content-wrapper {
  flex-grow: 1;
  padding: 18px;
  margin: 20px;
  border-radius: 6px;
  background-color: white;
}

// Sidenav links
a .fa { padding: 0 14px 0 6px; }
a.mat-list-item {
  border-left: 3px solid transparent;
  i { color: #555555; }
}
a.active-menu {
  font-weight: bold !important;
  border-left: 3px solid #673ab7;
}
// -----------------------------------------------------------------------------
