<mat-toolbar class="elevated sticky" color="primary">
  <mat-toolbar-row>
    <div class="container" [ngClass]="{chang1e: drawer.opened}" (click)="drawer.toggle()">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <span class="cubes-logo" routerLink="/">Cubes Configuration</span>
    <mat-icon *ngIf="title.trim()">chevron_right</mat-icon>
    <span>{{title}}</span>
    <span class="spacer"></span>
    <mat-icon>account_circle</mat-icon>

    <!--
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #appMenu="matMenu">
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Help</button>
    </mat-menu>
    -->
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'side'">
    <mat-toolbar>Configuration Menu</mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active-menu" routerLink="/scheduler"><mat-icon>event</mat-icon>&nbsp;Scheduler</a>
      <a mat-list-item routerLinkActive="active-menu" routerLink="/data"><mat-icon>storage</mat-icon>&nbsp;Data Access</a>
      <a mat-list-item routerLinkActive="active-menu" routerLink="/settings"><mat-icon>settings</mat-icon>&nbsp;Settings</a>
      <a mat-list-item routerLinkActive="active-menu" routerLink="/about"><mat-icon>help</mat-icon>&nbsp;About</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
