.sidenav-container {
  height: 100%;
}

.elevated {
  box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
}

.sidenav {
  width: 260px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.separator{
  margin: 0 8px;
}
.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar{
  a {
    font-size: 0.8em;
    font-weight: 300;
  }
}

a.mat-list-item { border-left: 3px solid transparent; }
a.active-menu {
  font-weight: bold !important;
  border-left: 3px solid blueviolet;
}

.sticky {
  top: 0;
  position: fixed;
  z-index: 999 !important;
}

.cubes-logo {
  margin-left: 16px;
  padding-left: 42px;
  background-image: url('./../../../../assets/cubes.logo.white.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.cubes-logo:focus {
  outline: none;
}

a .fa {
  margin-right:14px;
}


.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 28px;
  height: 4px;
  background-color: #eeeeee;
  margin: 5px 0;
  transition: 0.4s;
  border-radius: 3px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-7px, 7px);
  transform: rotate(-45deg) translate(-7px, 7px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}
