<!-- Toolbar -->
<mat-toolbar class="toolbar mat-elevation-z8" color="primary">

  <mat-toolbar-row class="">

    <span class="cubes-logo" routerLink="/">Cubes Management</span>
    <span class="spacer"></span>

    <button mat-icon-button [ngClass]="{hidden: !hideSidenav}" (click)="sidenav.toggle()">
      <i class="fa fa-2x fa-bars"></i>
    </button>

  </mat-toolbar-row>

</mat-toolbar>

<!-- Sidenav -->
<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sidenav
    class="sidenav"
    [opened]="!hideSidenav"
    [mode]="hideSidenav ? 'over' : 'side'"
    [position]="hideSidenav ? 'end' : 'start'"
    [attr.role]="'navigation'">

    <mat-nav-list>
      <a *ngFor="let item of navItems" mat-list-item
        routerLinkActive="active-menu" [routerLink] ="item.link">
        <i [class]="item.icon"></i>
        <span>{{item.label}}</span>
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <div class="content-wrapper mat-elevation-z10">
      <div *ngIf="title && title.trim().length > 0">
        <h2>{{title}}</h2>
        <mat-divider></mat-divider>
      </div>
      <div class="inner">
        <ng-content></ng-content>
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>

<cubes-loader></cubes-loader>
