<!-- Toolbar -->
<mat-toolbar class="elevated sticky" color="primary">

  <mat-toolbar-row>
    <!-- Use this to show animated humberger icon-->
    <!-- [ngClass]="{change: drawer.opened}"-->
    <span class="cubes-logo" routerLink="/">Cubes Configuration</span>
    <span class="spacer"></span>

    <button mat-icon-button
      [ngClass]="{hidden: !hideSidenav}"
      (click)="sidenav.toggle()">
      <i class="fa fa-2x fa-bars"></i>
    </button>

  </mat-toolbar-row>

</mat-toolbar>

<!-- Sidenav -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav
    class="sidenav"
    [opened]="!hideSidenav"
    [mode]="hideSidenav ? 'over' : 'side'"
    [position]="hideSidenav ? 'end' : 'start'"
    [attr.role]="'navigation'">
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active-menu" routerLink="/scheduler">
        <i class="fa fa-fw fa-calendar"></i>
        <span>Scheduler</span>
      </a>
      <a mat-list-item routerLinkActive="active-menu" routerLink="/data">
        <i class="fa fa-fw fa-database"></i>
        <span>Data Access</span>
      </a>
      <a mat-list-item routerLinkActive="active-menu" routerLink="/settings">
        <i class="fa fa-fw fa-cogs"></i>
        <span>Settings</span>
      </a>
      <a mat-list-item routerLinkActive="active-menu" routerLink="/about">
        <i class="fa fa-fw fa-question-circle"></i>
        <span>About</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
