<div class="editor">
  <div mat-subheader fxLayout="row" fxLayoutAlign="space-between center">
    <span>SMTP Profiles Editor</span>
    <div class="chip-list">
      <mat-chip-listbox [hidden]="!isNew">
        <mat-chip-option color="accent" selected>New Profile</mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>

  <div *ngIf="formSchema$ | async as formSchema; else empty">
    <div *ngIf="profile$ | async as profile; else empty">

      <div class="form">
        <cubes-dynamic-form #f [schema]="formSchema" [model]="profile" (isValid)="save.disabled=!$event">
        </cubes-dynamic-form>

        <div class="buttons" fxLayout="row">
          <div class="filler"></div>
          <button #delete mat-button color="warn" (click)="onDelete()"> {{isNew ? 'Cancel' : 'Delete'}} </button>
          <button #save mat-button color="primary" (click)="onSave()"> Save </button>
        </div>
      </div>

    </div>
  </div>

  <ng-template #empty>
    <div class="no-data">
      <img src="assets/images/nodata.png" width="128px">
      <p>Select a profile from the list!</p>
    </div>
  </ng-template>
</div>
