<div class="no-connection" *ngIf="model.length===0">
  <img src="assets/images/connection.png" alt="">
  <p>No connections defined!&nbsp;&nbsp;<span class="link" (click)="onNewConnection()">Add connection</span></p>
</div>

<mat-accordion>

  <mat-expansion-panel [expanded]="i === 0" *ngFor="let c of model; let i = index">

    <mat-expansion-panel-header>
      <mat-panel-title>{{c.name}}</mat-panel-title>
      <mat-panel-description> {{c.comments}} </mat-panel-description>
    </mat-expansion-panel-header>

    <cubes-dynamic-form [schema]="schema" [model]="c" (modelChanged)="onEditorChanges($event, i)"></cubes-dynamic-form>

    <button mat-button color="primary" (click)="onTest(c)">Test Connection</button>
    <button mat-button color="warn" (click)="onDelete(c)">Delete</button>

  </mat-expansion-panel>

  <mat-action-row *ngIf="model.length!==0">
    <button mat-stroked-button color="primary" (click)="onNewConnection()">New Connection</button>
    <button mat-stroked-button color="primary" (click)="onSave()">Save Changes</button>
  </mat-action-row>

</mat-accordion>
