<h2>Scheduler</h2>
<mat-divider></mat-divider>
<div *ngIf="data$ | async as data; else loading">
  <mat-card class="status" [class.status-started]="data.schedulerStatus.state==='Started'" [class.status-stopped]="data.schedulerStatus.state==='Stopped'">
    <p>
      Cubes scheduler is <strong>{{data.schedulerStatus.state}}</strong>.&nbsp;
      Current time on server is {{data.schedulerStatus.serverTime | date:'medium'}}.
    </p>
  </mat-card>
  <cubes-job-list
    [jobs]='data.schedulerStatus.jobs'
    [started]="data.schedulerStatus.state=='Started'"
    [jobTypeLookup]="data.lookups.jobTypeLookup"
    (menuClick)="onJobListEvent($event)"></cubes-job-list>
</div>

<ng-template #loading>
  <div class="loading">Waiting for data ...</div>
  <div id="loader">
    <div id="top"></div>
    <div id="bottom"></div>
    <div id="line"></div>
  </div>
</ng-template>

<!-- Debug -->
<!-- <pre>{{schedulerStatus | json}}></pre> -->
