<h2 mat-dialog-title>Edit Job</h2>
<mat-dialog-content class="editor-content">

  <mat-tab-group>
    <mat-tab label="Basic Information">
      <h2>Some tab content</h2>
      <p>...</p>
    </mat-tab>
    <mat-tab label="Execution Parameters">
      <p>Job as JSON (debugging)</p>
      <pre>{{job | json}}</pre>
    </mat-tab>
    <mat-tab label="History">
      <p>...</p>
    </mat-tab>
  </mat-tab-group>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="warn" (click)="onDelete(job)">Delete</button>
  <div class="spacer"></div>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary" mat-primary (click)="onClose(job)">Save</button>
</mat-dialog-actions>
