.mat-dialog-actions {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.editor-content {
  min-height: 320px;
}

.basic {
  margin-top: 8px;
  padding: 0 8px;
  overflow: hidden;
}

.full {
  width: 100%;
  margin-bottom: 4px;
}

.check-boxes {
  display: flex;
  margin-top: 8px;
  padding: 0.4375em 0;
  .mat-checkbox {
    flex-grow: 1;
  }
}
