<form [formGroup]="jobForm" (ngSubmit)="onJobFormSubmit(jobForm)">
  <h2 mat-dialog-title>Edit Job</h2>
  <mat-dialog-content class="editor-content">

    <mat-tab-group>
      <mat-tab label="Basic Information">
        <div class="basic">

          <mat-form-field class="full">
            <input matInput formControlName="description" placeholder="Job description" required>
            <mat-error *ngIf="description.invalid && description.touched">Description is required</mat-error>
          </mat-form-field>

          <mat-form-field class="full">
            <input matInput formControlName="cronExpression" placeholder="Cron Expression" required>
            <mat-error *ngIf="cronExpression.invalid && cronExpression.touched">{{cronExpressionErrorMessage}}</mat-error>
          </mat-form-field>

          <mat-form-field class="full">
            <mat-select formControlName="jobType" placeholder="Job Type" required>
              <mat-option *ngFor="let type of lookups['jobTypes'].items" [value]="type.id">
                {{type.display}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="jobType.invalid">Job type is required</mat-error>
          </mat-form-field>

          <div class="check-boxes">
            <mat-checkbox color="primary" formControlName="isActive">Active</mat-checkbox>
            <mat-checkbox color="primary" formControlName="fireIfMissed">Fire if missed</mat-checkbox>
          </div>

        </div>
      </mat-tab>

      <mat-tab label="Execution Parameters">
        <div class="basic">
          <div class="full parameters" [ngSwitch]="jobTypeForSwitch">
            <cubes-execute-command-editor
                *ngSwitchCase="'Cubes.Core.Jobs.ExecuteCommand'"
                #executionParameters
                [commandsLookup]="lookups['commandTypes']"
                [parameters]="job.executionParameters"
                (validChanged)="onParametersEditorValidChanged($event)">
            </cubes-execute-command-editor>
            <cubes-default-editor
                *ngSwitchDefault
                #executionParameters
                [parameters]="job.executionParameters">
            </cubes-default-editor>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="History">
        <p>Job as JSON (debugging)</p>
        <pre>{{job | json}}</pre>
      </mat-tab>
    </mat-tab-group>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button color="warn" (click)="onDelete(job)">Delete</button>
    <div class="spacer"></div>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="primary" [disabled]="!formValid" mat-primary (ngSubmit)="onJobFormSubmit(jobForm)">Save</button>
  </mat-dialog-actions>
</form>
