.mat-dialog-actions {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.editor-content {
  min-width: 340px;
  min-height: 300px;
}

.basic {
  margin-top: 8px;
  padding: 0 8px;
  overflow: hidden;
}

.full {
  display: block;
}

.check-boxes {
  display: flex;
  padding: 0.4375em p;
  .mat-checkbox {
    flex-grow: 1;
  }
}
