.mat-toolbar {
  padding-right: 8px !important;
}
.toolbar {
  background-color: #3c3e44;
}

.small {
  font-size: medium;
}

.menu {
  cursor: pointer;
}

.menu-link {
  outline: none;
  cursor: pointer;
}

.avatar {
  margin-left: 16px;
  border-radius: 15%;
  width: 32px;
}

.notifications {
  margin-right: 24px;
}
